* {
  font-family: "Inter";
}

body {
  margin: 0;
}

.topOfPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

@media only screen and (max-width: 428px) {
  .topOfPage {
    display: none;
  }
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  font-family: "DM Sans";
  width: 80%;
}

.author-name {
  display: flex;
  font-size: 25px;
  font-weight: 700;
}

.navigation {
  display: flex;
  width: 483px;
  height: 45px;
  justify-content: center;
  align-items: center;
}
.navigation--contact {
  border: 1px solid black;
  border-radius: 7px;
}

a {
  color: black;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 165px;
}
.intro--left {
  width: 40%;
}
.intro--right {
  width: 40%;
}

@media only screen and (max-width: 428px) {
  .intro {
    display: block;
    margin-top: 82px;
    margin-bottom: 50px;
  }
}
.left--hello {
  font-size: 32px;
  margin-bottom: 40px;
}
.left--junior {
  font-size: 64px;
}

@media only screen and (max-width: 428px) {
  .left--hello {
    font-size: 20px;
  }
  .left--junior {
    font-size: 64px;
  }
  .finalbreak {
    display: none;
  }
  #softwareEngineerImage {
    display: none;
  }
}
#softwareEngineerImage {
  width: 80%;
}

.introSection {
  display: flex;
  justify-content: center;
}

.aboutMe {
  display: flex;
  justify-content: center;
}

.aboutMeBox {
  width: 80%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 118px;
}
.aboutMeBox--text {
  width: 100%;
}
.aboutMeBox--image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tempimage {
  width: 75%;
}

@media only screen and (max-width: 428px) {
  .aboutMeBox {
    margin-bottom: 50px;
    flex-direction: column;
  }
  .aboutMeBox--text {
    display: flex;
    flex-direction: column;
  }
  .aboutMeBox--image {
    margin-right: 0;
  }
  #tempimage {
    display: none;
  }
}
#about-me-title {
  font-size: 48px;
  margin-bottom: 49px;
  font-weight: 600;
}

@media only screen and (max-width: 428px) {
  #about-me-title {
    text-align: center;
  }
}
.aboutMeText {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
}

.technical {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}
.technical--box {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 428px) {
  .technical {
    margin-bottom: 95px;
  }
  .technical--box {
    width: 95%;
  }
}
.technicalTitle {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 41px;
  text-align: center;
}

@media only screen and (max-width: 428px) {
  .technicalTitle {
    font-size: 32px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.technicalInformation {
  width: 100%;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 428px) {
  .technicalInformation {
    line-height: 25.6px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 40px;
  }
  .techbreak {
    display: none;
  }
}
.technicalIcons {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.technicalIcons--holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 428px) {
  .technicalIcons {
    width: 45%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .technicalIcons--holder {
    width: 67px;
    height: 112px;
  }
}
.skills-icon {
  width: 67px;
  height: 67px;
  font-size: 16px;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectsTitle {
  display: block;
  color: #272643;
  font-size: 48px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

.projectsBox {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 159px;
}

@media only screen and (max-width: 428px) {
  .projectsBox {
    width: 100%;
    margin-bottom: 80px;
  }
}
.singleProject {
  display: flex;
  flex-direction: column;
  width: 45%;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: flex-start;
  justify-content: center;
}

.exampleProject {
  width: 440px;
  height: auto;
}

@media only screen and (max-width: 428px) {
  .singleProject {
    width: 100%;
  }
  .exampleProject {
    width: 100%;
  }
  #projectFour {
    display: none;
  }
}
.projectInfo--type {
  font-size: 16px;
  margin-bottom: 5px;
}
.projectInfo--name {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 30px;
}
.projectInfo--description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.projectLinks button {
  width: 113px;
  height: 45px;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  margin-right: 23px;
}

@media only screen and (max-width: 428px) {
  .project-left {
    margin-right: 0;
  }
}
.footer {
  background-color: #000000;
}

footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 90px;
  width: 90%;
  height: 155px;
}

@media only screen and (max-width: 428px) {
  footer {
    width: 428px;
    height: 216px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.social-media {
  width: 45px;
  height: 45px;
  margin-right: 11px;
}

@media only screen and (max-width: 428px) {
  .email {
    margin-top: 32px;
  }
}
